# Configuración del Servidor
PORT=5000

# URI de Conexión a MongoDB (Local o MongoDB Atlas)
MONGO_URI=mongodb://127.0.0.1:27017/atelier-ecommerce

# Clave Secreta JWT
JWT_SECRET=atelier_secret_key_2026_boutique_secure_token
